
<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table"
      style="position: relative; display: flex; flex-direction: column; min-width: none; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid black; border-radius: .25rem;">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Image</th>
              <th>Product Price</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img style="width: 120px;" src="../../assets/{{ product.productImage }}" alt=""></td>
              <td>{{ product.productprice }}</td>
              <td>{{ product.productName }}</td>
              <td ><input type="number" [(ngModel)]="product.Quantity" (change)="UpdateQuantity(i,product.Quantity)" />
              </td>
              <td style="width: 12%;">{{ product.productprice * product.Quantity }}</td>

              <td>
                <button (click)="removeItem(product)" class="btn btn-danger">Remove<i
                    class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
              <td><button routerLink="/product" class="btn btn-primary">Add items</button></td>
              <td><button class="btn btn-success" routerLink="/finalorder">Checkout</button></td>
              <td><strong>Total Amount: {{ grandTotal }} Rs.</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
